/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/logs/*
/storage/framework/*
/storage/app/public/*.pdf
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
dte.json
json.txt

/Jsons/Comparar/*
/Jsons/Ejemplos/*
Jsons/*

json_dte.txt
